# Variables

## `int`

In [ ]:
my_int = 6
print('value: {}, type: {}'.format(my_int, type(my_int)))

## `float`

In [ ]:
my_float = float(my_int)
print('value: {}, type: {}'.format(my_float, type(my_float)))

Note that division of `int`s produces `float`:

In [ ]:
print(1 / 1)
print(6 / 5)

Be aware of the binary floating-point pitfalls (see [Decimal](#decimal) for workaround):

In [ ]:
val = 0.1 + 0.1 + 0.1
print(val == 0.3)
print(val)

## Floor division `//`, modulus `%`, power `**`

In [ ]:
7 // 5

In [ ]:
7 % 5

In [ ]:
2 ** 3

## Operator precedence in calculations
Mathematical operator precedence applies. Use brackets if you want to change the execution order:

print(1 + 2**2 * 3 / 6) # 1 + 4 * 3 / 6 == 1 + 12 / 6 == 1 + 2
print((1 + 2**2) * 3 / 6)

# Accepting User Inputs

input(prompt), prompts for and returns input as a string. A useful function to use in conjunction with this is eval() which takes a string and evaluates it as a python expression.

Note: In notebooks it is often easier just to modify the code than to prompt for input.

In [ ]:
abc =  input("abc = ")
abcValue=eval(abc)
print(abc,'=',abcValue)

abc = 2 + 3*4
2 + 3*4 = 14

# The Print Statement

As seen previously, The print() function prints all of its arguments as strings, separated by spaces and follows by a linebreak:

- print("Hello World")
- print("Hello",'World')
- print("Hello", <Variable>)
Note that print is different in old versions of Python (2.7) where it was a statement and did not need parentheses around its arguments.

In [ ]:
print("Hello world!")

Hello world!

# String Formating
There are lots of methods for formating and manipulating strings built into python. Some of these are illustrated here.

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [ ]:
string1='World'
string2='!'
print('Hello' + " " + string1 + string2)

Hello World!

The % operator is used to format a string inserting the value that comes after. It relies on the string containing a format specifier that identifies where to insert the value. The most common types of format specifiers are:

- %s -> string
- %d -> Integer
- %f -> Float
- %o -> Octal
- %x -> Hexadecimal
- %e -> exponential
These will be very familiar to anyone who has ever written a C or Java program and follow nearly exactly the same rules as the printf() function.

print("Hello %s" % string1)

In [4]:
print("Hello %s" % string1)
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)
print("Octal equivalent of the number = %o" %18)
print("Hexadecimal equivalent of the number = %x" %18)
print("Exponential equivalent of the number = %e" %18)

Hello World
Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parentheses is used. Values are inserted in the order they appear in the parantheses (more on tuples in the next section)

In [5]:
print("Hello %s %s. This meaning of life is %d" %(string1,string2,42))

Hello World !. This meaning of life is 42

We can also specify the width of the field and the number of decimal places to be used. For example:

In [6]:
print('Print width 10: |%10s|'%'x')
print('Print width 10: |%-10s|'%'x') # left justified
print("The number pi = %.2f to 2 decimal places"%3.1415)
print("More space pi = %10.2f"%3.1415)
print("Pad pi with 0 = %010.2f"%3.1415) # pad with zeros

Print width 10: |         x|
Print width 10: |x         |
The number pi = 3.14 to 2 decimal places
More space pi =       3.14
Pad pi with 0 = 0000003.14

## Other String Methods

Multiplying a string by an integer simply repeats it

In [7]:
print("Hello World! "*5)

Hello World! Hello World! Hello World! Hello World! Hello World!

#### Formatting
Strings can be tranformed by a variety of functions that are all methods on a string. That is they are called by putting the function name with a `.` after the string. They include:

* Upper vs lower case: `upper()`, `lower()`, `captialize()`, `title()` and `swapcase()` with mostly the obvious meaning. Note that `capitalize` makes the first letter of the string a capital only, while `title` selects upper case for the first letter of every word.
* Padding strings: `center(n)`, `ljust(n)` and `rjust(n)` each place the string into a longer string of length n  padded by spaces (centered, left-justified or right-justified respectively). `zfill(n)` works similarly but pads with leading zeros.
* Stripping strings: Often we want to remove spaces, this is achived with the functions `strip()`, `lstrip()`, and `rstrip()` respectively to remove from spaces from the both end, just left or just the right respectively. An optional argument can be used to list a set of other characters to be removed.

# [Strings](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

In [ ]:
my_string = 'Python is my favorite programming language!'

In [ ]:
my_string

In [ ]:
type(my_string)

In [ ]:
len(my_string)

### Respecting [PEP8](https://www.python.org/dev/peps/pep-0008/#maximum-line-length) with long strings

In [ ]:
long_story = ('Lorem ipsum dolor sit amet, consectetur adipiscing elit.' 
              'Pellentesque eget tincidunt felis. Ut ac vestibulum est.' 
              'In sed ipsum sit amet sapien scelerisque bibendum. Sed ' 
              'sagittis purus eu diam fermentum pellentesque.')
long_story

## `str.replace()`

If you don't know how it works, you can always check the `help`:

In [ ]:
help(str.replace)

This will not modify `my_string` because replace is not done in-place.

In [ ]:
my_string.replace('a', '?')
print(my_string)

You have to store the return value of `replace` instead.

In [ ]:
my_modified_string = my_string.replace('is', 'will be')
print(my_modified_string)

## `str.format()`

In [ ]:
secret = '{} is cool'.format('Python')
print(secret)

In [ ]:
print('My name is {} {}, you can call me {}.'.format('John', 'Doe', 'John'))
# is the same as:
print('My name is {first} {family}, you can call me {first}.'.format(first='John', family='Doe'))

## `str.join()`

In [ ]:
pandas = 'pandas'
numpy = 'numpy'
requests = 'requests'
cool_python_libs = ', '.join([pandas, numpy, requests])

In [ ]:
print('Some cool python libraries: {}'.format(cool_python_libs))

Alternatives (not as [Pythonic](http://docs.python-guide.org/en/latest/writing/style/#idioms) and [slower](https://waymoot.org/home/python_string/)):

In [ ]:
cool_python_libs = pandas + ', ' + numpy + ', ' + requests
print('Some cool python libraries: {}'.format(cool_python_libs))

cool_python_libs = pandas
cool_python_libs += ', ' + numpy
cool_python_libs += ', ' + requests
print('Some cool python libraries: {}'.format(cool_python_libs))

## `str.upper(), str.lower(), str.title()`

In [ ]:
mixed_case = 'PyTHoN hackER'

In [ ]:
mixed_case.upper()

In [ ]:
mixed_case.lower()

In [ ]:
mixed_case.title()

## `str.strip()`

In [ ]:
ugly_formatted = ' \n \t Some story to tell '
stripped = ugly_formatted.strip()

print('ugly: {}'.format(ugly_formatted))
print('stripped: {}'.format(ugly_formatted.strip()))

## `str.split()`

In [ ]:
sentence = 'three different words'
words = sentence.split()
print(words)

In [ ]:
type(words)

In [ ]:
secret_binary_data = '01001,101101,11100000'
binaries = secret_binary_data.split(',')
print(binaries)

# Data Structures

So far we have only seen numbers and strings and how to write simple expressions involving these. In general writing programs is about managing more complex collections of such items which means think about *data structures* for storing the data and *algorithms* for manipulating them. This part of the tutorial and the next looks at the some of the powerful built-in data structures that are included in Python, namely `list`, `tuple`, `dict` and `set` data structures.

## Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each element of a list can be accessed the position of the element within the list.

Lists are declared by just equating a variable to '[ ]' or list.

In [1]:
a = []

In [2]:
type(a)

list

One can directly assign the sequence of data to a list x as shown.

In [3]:
x = ['apple', 'orange']

### Indexing

In python, indexing starts from 0 as already seen for strings. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [4]:
x[0]

'apple'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [5]:
x[-1]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [6]:
y = ['carrot','potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [7]:
z  = [x,y]
print( z )

[['apple', 'orange'], ['carrot', 'potato']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple' and 'orange'. From this list we can take the second element (index 1) to get 'orange'

In [8]:
print(z[0][1])

orange

Lists do not have to be homogenous. Each element can be of a different type:

In [9]:
["this is a valid list",2,3.6,(1+2j),["a","sublist"]]

['this is a valid list', 2, 3.6, (1+2j), ['a', 'sublist']]

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [10]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [11]:
num[:9:3]

[0, 3, 6]

### Built in List Functions

To find the length of the list or the number of elements in a list, `len( )` is used.

In [12]:
len(num)

10

If the list consists of all integer elements then `min( )` and `max( )` gives the minimum and maximum value in the list. Similarly `sum` is the sum

In [13]:
print("min =",min(num),"  max =",max(num),"  total =",sum(num))

min = 0   max = 9   total = 45

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [14]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [15]:
names = ['Earth','Air','Fire','Water']

To check if 'Fire' and 'Metal' are present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use `a in b` concept which would return 'True' if a is present in b and 'False' if not.

In [16]:
'Fire' in names

True

In [17]:
'Metal' in names

False

In a list with string elements, `*max( )` and `min( )` are still applicable and return the first/last element in lexicographical order.

In [18]:
mlist = ['bzaa','ds','nc','az','z','klm']
print("max =",max(mlist))
print("min =",min(mlist))

max = z
min = az

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [19]:
nlist = ['5','24','93','1000']
print("max =",max(nlist))
print('min =',min(nlist))

max = 93
min = 1000

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the `max( )` string element based on the length of the string then another parameter `key` can be used to specify the function to use for generating the value on which to sort. Hence finding the longest and shortest string in `mlist` can be doen using the `len` function:

In [20]:
print('longest =',max(mlist, key=len))
print('shortest =',min(mlist, key=len))

longest = bzaa
shortest = z

Any other built-in or user defined function can be used.

A string can be converted into a list by using the `list()` function, or more usefully using the `split()` method, which breaks strings up based on spaces.

In [21]:
print(list('hello world !'),'Hello   World !!'.split())

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '!'] ['Hello', 'World', '!!']

`append( )` is used to add a single element at the end of the list.

In [22]:
lst = [1,1,4,8,7]
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

Appending a list to a list would create a sublist. If a nested list is not what is desired then the `extend( )` function can be used.

In [23]:
lst.extend([10,11,12])
print(lst)

[1, 1, 4, 8, 7, 1, 10, 11, 12]

`count( )` is used to count the number of a particular element that is present in the list.

In [24]:
lst.count(1)

3

`index( )` is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [25]:
lst.index(1)

0

`insert(x,y)` is used to insert a element y at a specified index value x. Note that `L.append(y)` is equivalent to `L.insert(len(L)+1,y)` - that is insertion right at the end of the list L.

In [26]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, 10, 11, 12]

`insert(x,y)` inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [27]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, 10, 11, 12]

`pop( )` function return the last element in the list. This is similar to the operation of a stack. Hence lists can be used as stacks by using `append()` for push and `pop()` to remove the most recently added element.

In [28]:
lst.pop()

12

Index value can be specified to pop a ceratin element corresponding to that index value.

In [29]:
lst.pop(0)

1

`pop( )` is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the `remove( )` function.

In [30]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, 1, 10, 11]

Alternative to `remove` function but with using index value is `del`

In [31]:
del lst[1]
print(lst)

[1, 8, 7, 1, 10, 11]

The entire elements present in the list can be reversed by using the `reverse()` function.

In [32]:
lst.reverse()
print(lst)

[11, 10, 1, 7, 8, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation `sort( )` to arrange the elements in ascending order. Alternatively `sorted()` can be used to construct a copy of the list in sorted order

In [33]:
lst.sort()
print(lst)
print(sorted([3,2,1])) # another way to sort

[1, 1, 7, 8, 10, 11]
[1, 2, 3]

For descending order an optional keyword argument `reverse` is provided. Setting this to True would arrange the elements in descending order.

In [34]:
print(sorted(lst,reverse=True)) 
print(lst) # remember that `sorted` creates a copy of the list in sorted order

[11, 10, 8, 7, 1, 1]
[1, 1, 7, 8, 10, 11]

Similarly for lists containing string elements, `sort( )` would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [35]:
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on length `key=len` should be specified as shown.

In [36]:
names.sort(key=len)
print(names)
print(sorted(names,key=len,reverse=True))

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

### Copying a list

Assignment of a list does not imply copying. It simply creates a second reference to the same list. Most of new python programmers get caught out by this initially. Consider the following,

In [37]:
lista= [2,1,4,3]
listb = lista
print(listb)

[2, 1, 4, 3]

Here, We have declared a list, `lista = [2,1,4,3]`. This list is copied to `listb` by assigning its value. Now we perform some random operations on lista.

In [38]:
lista.sort()
lista.pop()
lista.append(9)
print("A =",lista)
print("B =",listb)

A = [1, 2, 3, 9]
B = [1, 2, 3, 9]

`listb` has also changed though no operation has been performed on it. This is because in Python **assignment assigns references to the same object, rather than creating copies**. So how do fix this?

If you recall, in slicing we had seen that `parentlist[a:b]` returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [39]:
lista = [2,1,4,3]
listb = lista[:] # make a copy by taking a slice from beginning to end
print("Starting with:")
print("A =",lista)
print("B =",listb)
lista.sort()
lista.pop()
lista.append(9)
print("Finnished with:")
print("A =",lista)
print("B =",listb)

Starting with:
A = [2, 1, 4, 3]
B = [2, 1, 4, 3]
Finnished with:
A = [1, 2, 3, 9]
B = [2, 1, 4, 3]

## List comprehension
A very powerful concept in Python (that also applies to Tuples, sets and dictionaries as we will see below), is the ability to define lists using list comprehension (looping) expression. For example:

In [40]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

In general this takes the form of `[ <expression> for <variable> in <List> ]`. That is a new list is constructed by taking each element of the given List is turn, assigning it to the variable and then evaluating the expression with this variable assignment.

As can be seen this constructs a new list by taking each element of the original `[1,2,3]` and squaring it. We can have multiple such implied loops to get for example:

In [41]:
[10*i+j for i in [1,2,3] for j in [5,7]]

[15, 17, 25, 27, 35, 37]

Finally the looping can be filtered using an **if** expression with the **for** - **in** construct.

In [42]:
[10*i+j for i in [1,2,3] if i%2==1 for j in [4,5,7] if j >= i+4] # keep odd i and  j larger than i+3 only

[15, 17, 37]

## Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Tuples are the natural extension of ordered pairs, triplets etc in mathematics. 
To show how this works consider the following code working with cartesian coordinates in the plane:

In [43]:
origin = (0.0,0.0,0.0)
x = origin
# x[1] = 1 # can't do something like this as it would change the origin
x = (1, 0, 0) # perfectly OK
print(x)
print(type(x))

(1, 0, 0)
<class 'tuple'>

To define a tuple, a variable is assigned to paranthesis ( ) or tuple( ).

In [44]:
tup = () # empty, zero-length tuple
tup2 = tuple()

If you want to directly declare a tuple of length 1 it can be done by using a comma at the end of the data.

In [45]:
27,

(27,)

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [46]:
2*(27,)

(27, 27)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [47]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [48]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

### Mapping one tuple to another
Tupples can be used as the left hand side of assignments and are matched to the correct right hand side elements - assuming they have the right length

In [49]:
(a,b,c)= ('alpha','beta','gamma') # are optional
a,b,c= 'alpha','beta','gamma' # The same as the above
print(a,b,c)
a,b,c = ['Alpha','Beta','Gamma'] # can assign lists
print(a,b,c)
[a,b,c]=('this','is','ok') # even this is OK
print(a,b,c)

alpha beta gamma
Alpha Beta Gamma
this is ok

More complex nexted unpackings of values are also possible

In [50]:
(w,(x,y),z)=(1,(2,3),4)
print(w,x,y,z)
(w,xy,z)=(1,(2,3),4)
print(w,xy,z) # notice that xy is now a tuple

1 2 3 4
1 (2, 3) 4

### Built In Tuple functions

`count()` function counts the number of specified element that is present in the tuple.

In [51]:
d=tuple('a string with many "a"s')
d.count('a')

3

`index()` function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [52]:
d.index('a')

0

Note that many of the other list functions such as `min()`, `max()`, `sum()` and `sorted()`, as well as the operator `in`, also work for tuples in the expected way.

## Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as `set()` which will initialize a empty set. Also `set([sequence])` can be executed to declare a set with elements. Note that unlike lists, the elements of a set are not in a sequence and cannot be accessed by an index.

In [53]:
set1 = set()
print(type(set1))

<class 'set'>

In [54]:
set0 = set([1,2,2,3,3,4])
set0 = {3,3,4,1,2,2} # equivalent to the above
print(set0) # order is not preserved

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

However be warned that **{}** is **NOT** a set, but a dictionary (see next chapter of this tutorial)

In [55]:
type({})

dict

#### Built-in Functions

In [56]:
set1 = set([1,2,3])

In [57]:
set2 = set([2,3,4,5])

`union( )` function returns a set which contains all the elements of both the sets without repition.

In [58]:
set1.union(set2)

{1, 2, 3, 4, 5}

`add( )` will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [59]:
set1.add(0)
set1

{0, 1, 2, 3}

`intersection( )` function outputs a set which contains all the elements that are in both sets.

In [60]:
set1.intersection(set2)

{2, 3}

`difference( )` function ouptuts a set which contains elements that are in set1 and not in set2.

In [61]:
set1.difference(set2)

{0, 1}

`symmetric_difference( )` function computes the set of elements that are in exactly one of the two given sets.

In [62]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

`issubset( ), isdisjoint( ), issuperset( )` are used to check if the set1 is a subset, disjoint or superset of set2respectively.

In [63]:
print( set1.issubset(set2) )
print( set1.isdisjoint(set2) )
print( set1.issuperset(set2) )

False
False
False

`pop( )` is used to remove an arbitrary element in the set

In [64]:
set1.pop()
print(set1)

{1, 2, 3}

`remove( )` function deletes the specified element from the set.

In [65]:
set1.remove(2)
set1

{1, 3}

`clear( )` is used to clear all the elements and make that set an empty set.

In [66]:
set1.clear()
set1

set()

# [Dictionaries](https://docs.python.org/3/library/stdtypes.html#dict) 
Collections of `key`-`value` pairs.

In [ ]:
my_empty_dict = {}  # alternative: my_empty_dict = dict()
print('dict: {}, type: {}'.format(my_empty_dict, type(my_empty_dict)))

## Initialization

In [ ]:
dict1 = {'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
dict2 = dict(value1=1.6, value2=10, name='John Doe')

print(dict1)
print(dict2)

print('equal: {}'.format(dict1 == dict2))
print('length: {}'.format(len(dict1)))

## `dict.keys(), dict.values(), dict.items()`

In [ ]:
print('keys: {}'.format(dict1.keys()))
print('values: {}'.format(dict1.values()))
print('items: {}'.format(dict1.items()))

## Accessing and setting values

In [ ]:
my_dict = {}
my_dict['key1'] = 'value1'
my_dict['key2'] = 99
my_dict['key1'] = 'new value'  # overriding existing value
print(my_dict)
print('value of key1: {}'.format(my_dict['key1']))

Accessing a nonexistent key will raise `KeyError` (see [`dict.get()`](#dict_get) for workaround):

In [ ]:
# print(my_dict['nope'])

## Deleting

In [ ]:
my_dict = {'key1': 'value1', 'key2': 99, 'keyX': 'valueX'}
del my_dict['keyX']
print(my_dict)

# Usually better to make sure that the key exists (see also pop() and popitem())
key_to_delete = 'my_key'
if key_to_delete in my_dict:
    del my_dict[key_to_delete]
else:
    print('{key} is not in {dictionary}'.format(key=key_to_delete, dictionary=my_dict))

## Dictionaries are mutable

In [ ]:
my_dict = {'ham': 'good', 'carrot': 'semi good'}
my_other_dict = my_dict
my_other_dict['carrot'] = 'super tasty'
my_other_dict['sausage'] = 'best ever'
print('my_dict: {}\nother: {}'.format(my_dict, my_other_dict))
print('equal: {}'.format(my_dict == my_other_dict))

Create a new `dict` if you want to have a copy:

In [ ]:
my_dict = {'ham': 'good', 'carrot': 'semi good'}
my_other_dict = dict(my_dict)
my_other_dict['beer'] = 'decent'
print('my_dict: {}\nother: {}'.format(my_dict, my_other_dict))
print('equal: {}'.format(my_dict == my_other_dict))

<a id='dict_get'></a>
## `dict.get()`
Returns `None` if `key` is not in `dict`. However, you can also specify `default` return value which will be returned if `key` is not present in the `dict`.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
d = my_dict.get('d')
print('d: {}'.format(d))

d = my_dict.get('d', 'my default value')
print('d: {}'.format(d))

## `dict.pop()`

In [ ]:
my_dict = dict(food='ham', drink='beer', sport='football')
print('dict before pops: {}'.format(my_dict))

food = my_dict.pop('food')
print('food: {}'.format(food))
print('dict after popping food: {}'.format(my_dict))

food_again = my_dict.pop('food', 'default value for food')
print('food again: {}'.format(food_again))
print('dict after popping food again: {}'.format(my_dict))

## `dict.setdefault()`
Returns the `value` of `key` defined as first parameter. If the `key` is not present in the dict, adds `key` with default value (second parameter).

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
a = my_dict.setdefault('a', 'my default value')
d = my_dict.setdefault('d', 'my default value')
print('a: {}\nd: {}\nmy_dict: {}'.format(a, d, my_dict))

## `dict.update()`
Merge two `dict`s

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3}
dict1.update(dict2)
print(dict1)

# If they have same keys:
dict1.update({'c': 4})
print(dict1)

## The keys of a `dict` have to be immutable

Thus you can not use e.g. a `list` or a `dict` as key because they are mutable types
:

In [ ]:
# bad_dict = {['my_list'], 'value'}  # Raises TypeError

Values can be mutable

In [ ]:
good_dict = {'my key': ['Python', 'is', 'still', 'cool']}
print(good_dict)

# Control Flow Statements
The key thing to note about Python's control flow statements and program structure is that it uses _indentation_ to mark blocks. Hence the amount of white space (space or tab characters) at the start of a line is very important. This generally helps to make code more readable but can catch out new users of python.

## Conditionals

### If
```python
if some_condition:
    code block```
Only execute the code if some condition is satisfied

In [1]:
x = 12
if x > 10:
    print("Hello")

Hello

### If-else

```python
if some_condition:
    algorithm 1
else:
    algorithm 2```

As above but if the condition is False, then execute the second algorithm

In [2]:
x = 12
if 10 < x < 11:
    print("hello")
else:
    print("world")

world

### Else if
```python
if some_condition:  
    algorithm
elif some_condition:
    algorithm
else:
    algorithm```
    
Any number of conditions can be chained to find which part we want to execute.

In [3]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

if statement inside a if statement or if-elif or if-else are called as nested if statements.

In [4]:
x = 10
y = 12
if x > y:
    print( "x>y")
elif x < y:
    print( "x<y")
    if x==10:
        print ("x=10")
    else:
        print ("invalid")
else:
    print ("x=y")

x<y
x=10

## Loops

### For
```python
for variable in something:
    algorithm```
    
The "something" can be any of of the collections discussed previously (lists, sets, dictionaries). The variable is assigned each element from the collection in turn and the algorithm executed once with that value.
    
When looping over integers the `range()` function is useful which generates a range of integers:

* range(n) =  0, 1, ..., n-1
* range(m,n)= m, m+1, ..., n-1
* range(m,n,s)= m, m+s, m+2s, ..., m + ((n-m-1)//s) * s

In mathematical terms range `range(a,b)`$=[a,b)\subset\mathbb Z$

In [5]:
for ch in 'abc':
    print(ch)
total = 0
for i in range(5):
    total += i
for i,j in [(1,2),(3,1)]:
    total += i**j
print("total =",total)

a
b
c
total = 14

In the above example, i iterates over the 0,1,2,3,4. Every time it takes each value and executes the algorithm inside the loop. It is also possible to iterate over a nested list illustrated below.

In [6]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

A use case of a nested for loop in this case would be,

In [7]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=0
for list1 in list_of_lists:
    for x in list1:
        total = total+x
print(total)

45

There are many helper functions that make **for** loops even more powerful and easy to use. For example `enumerate()`, `zip()`, `sorted()`, `reversed()`

In [8]:
print("reversed: \t",end="")
for ch in reversed("abc"):
    print(ch,end=";")
print("\nenuemerated:\t",end="")
for i,ch in enumerate("abc"):
    print(i,"=",ch,end="; ")
print("\nzip'ed: ")
for a,x in zip("abc","xyz"):
    print(a,":",x)

reversed: 	c;b;a;
enuemerated:	0 = a; 1 = b; 2 = c;
zip'ed:
a : x
b : y
c : z

### While
```python
while some_condition:  
    algorithm```
    
Repeately execute the algorithm until the condition fails (or exit via a break statement as shown below)

In [9]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

### Break
The `break` keyword is used to abandon exection of a loop immediately. This statement can only be used in **for** and **while** loops.

In [10]:
for i in range(100):
    print(i,end="...")
    if i>=7:
        break
    print("completed.")

0...completed.
1...completed.
2...completed.
3...completed.
4...completed.
5...completed.
6...completed.
7...

### Continue
The `continue` statement skips the remainder of a loop and starts the next iteration. Again this can only be used in a **while** or **for** loop. It is typically only used within an **if** statement (otherwise the remainder of the loop would never be executed).

In [11]:
for i in range(10):
    if i>4:
        print("Ignored",i)
        continue
    # this statement is not reach if i > 4
    print("Processed",i)

Processed 0
Processed 1
Processed 2
Processed 3
Processed 4
Ignored 5
Ignored 6
Ignored 7
Ignored 8
Ignored 9

### Else statements on loops
Sometimes we want to know if a loop exited 'normally' or via a break statement. This can be achieved with an `else:` statement in a loop which only executes if there was no break

In [12]:
count = 0
while count < 10:
    count += 1
    if count % 2 == 0: # even number
        count += 2
        continue
    elif 5 < count < 9:
        break # abnormal exit if we get here!
    print("count =",count)
else: # while-else
    print("Normal exit with",count)

count = 1
count = 5
count = 9
Normal exit with 12

## Catching exceptions
Sometimes it is desirable to deal with errors without stopping the whole program. This can be achieved using a **try** statement. Appart from dealing with with system errors, it also alows aborting from somewhere deep down in nested execution. It is possible to attach multiple error handlers depending on the type of the exception

```python
try:
    code
except <Exception Type> as <variable name>:
    # deal with error of this type
except:
    # deal with any error
finally:
    # execute irrespective of whether an exception occured or not```

In [13]:
try:
    count=0
    while True:
        while True:
            while True:
                print("Looping")
                count = count + 1
                if count > 3:
                    raise Exception("abort") # exit every loop or function
                if count > 4:
                    raise StopIteration("I'm bored") # built in exception type
except StopIteration as e:
    print("Stopped iteration:",e)
except Exception as e: # this is where we go when an exception is raised
    print("Caught exception:",e)
finally:
    print("All done")

Looping
Looping
Looping
Looping
Caught exception: abort
All done

This can also be useful to handle unexpected system errors more gracefully:

In [14]:
try:
    for i in [2,1.5,0.0,3]:
        inverse = 1.0/i
except Exception as e: # no matter what exception
    print("Cannot calculate inverse because:", e)

Cannot calculate inverse because: float division by zero

## Operators

### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | Division |
| //  | Integer division |
| %  | Modulus (remainder) |
| *  | Multiplication |
| **  | Exponentiation (power) |

As expected these operations generally promote to the most general type of any of the numbers involved i.e. int -> float -> complex.

In [7]:
1+2.0

3.0

In [8]:
3-1

2

In [9]:
2 * (3+0j) * 1.0

(6+0j)

In [10]:
3/4

0.75

In many languages (and older versions of python) 1/2 = 0 (truncated division). In Python 3 this behaviour is captured by a separate operator that rounds down: (ie a // b$=\lfloor \frac{a}{b}\rfloor$)

In [11]:
3//4.0

0.0

In [12]:
15%10

5

Python natively allows (nearly) infinite length integers while floating point numbers are double precision numbers:

In [13]:
11**300

2617010996188399907017032528972038342491649416953000260240805955827972056685382434497090341496787032585738884786745286700473999847280664191731008874811751310888591786111994678208920175143911761181424495660877950654145066969036252669735483098936884016471326487403792787648506879212630637101259246005701084327338001

In [14]:
11.0**300

OverflowError: (34, 'Numerical result out of range')

### Relational Operators

| Symbol | Task Performed |
|----| :--- |
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

Note the difference between `==` (equality test) and `=` (assignment)

In [15]:
z = 2
z == 2

True

In [16]:
z > 2

False

Comparisons can also be chained in the mathematically obvious way. The following will work as expected in Python (but not in other languages like C/C++):

In [17]:
0.5 < z <= 1

False

### Boolean and Bitwise Operators

|Operator|Meaning | \| | Symbol | Task Performed |
|----|--- | - |----|---|
|`and`| Logical and | \| | &  | Bitwise And |
|`or` | Logical or | \| | $\mid$  | Bitwise OR |
|`not` | Not | \| | ~  | Negate |
| &nbsp;  |&nbsp;  |  \| |  ^  | Exclusive or |
| &nbsp;|&nbsp; | \| |  >>  | Right shift |
| &nbsp;| &nbsp;| \| |  <<  | Left shift |

In [18]:
a = 2 #binary: 10
b = 3 #binary: 11
print('a & b =',a & b,"=",bin(a&b))
print('a | b =',a | b,"=",bin(a|b))
print('a ^ b =',a ^ b,"=",bin(a^b))
print('b << a =',b<<a,"=",bin(b<<a))

a & b = 2 = 0b10
a | b = 3 = 0b11
a ^ b = 1 = 0b1
b << a = 12 = 0b1100

In [19]:
print( not (True and False), "==", not True or not False)

True == True

### Assignment operators

The binary operators can be combined with assignment to modify a variable value.
For example:

In [20]:
x = 1
x += 2 # add 2 to x
print("x is",x)
x <<= 2 # left shift by 2 (equivalent to x *= 4)
print('x is',x)
x **= 2 # x := x^2
print('x is',x)

x is 3
x is 12
x is 144

# Functions

This is the basic syntax of a function

```python
def funcname(arg1, arg2,... argN):
    ''' Document String'''
    statements
    return value```

Read the above syntax as, A function by name "funcname" is defined, which accepts arguements "arg1,arg2,....argN". The function is documented and it is '''Document String'''. The function after executing the statements returns a "value".

Return values are optional (by default every function returns `None` (a special object that is equivalent to `False` ) if no return statement is executed

In [1]:
print("Hello Jack.")
print("Jack, how are you?")

Hello Jack.
Jack, how are you?

Instead of writing the above two statements every single time it can be replaced by defining a function which would do the job in just one line. 

Defining a function firstfunc().

In [2]:
def firstfunc():
    print("Hello Jack.")
    print("Jack, how are you?")
firstfunc() # execute the function

Hello Jack.
Jack, how are you?

`firstfunc()` just prints the message every time to a single person. We can make our function `firstfunc()` to accept arguments which will store the name and then prints its message to that name. To do so, add a argument within the function as shown.

In [3]:
def firstfunc(username):
    print("Hello %s." % username)
    print(username + ',' ,"how are you?")

In [4]:
name1 = 'Sally' # or use input('Please enter your name : ')

 So we pass this variable to the function `firstfunc()` as the variable username because that is the variable that is defined for this function. i.e name1 is passed as username.

In [5]:
firstfunc(name1)

Hello Sally.
Sally, how are you?

## Return Statement

When the function results in some value and that value has to be stored in a variable or needs to be sent back or returned for further operation to the main algorithm, a return statement is used.

In [6]:
def times(x,y):
    z = x*y
    return z
    z = 17 # this statement is never executed

The above defined `times( )` function accepts two arguements and return the variable z which contains the result of the product of the two arguements

In [7]:
c = times(4,5)
print(c)

20

The z value is stored in variable c and can be used for further operations.

Instead of declaring another variable the entire statement itself can be used in the return statement as shown.

In [8]:
def times(x,y):
    '''This multiplies the two input arguments'''
    return x*y

In [9]:
c = times(4,5)
print(c)

20

Since the `times()` is now defined, we can document it as shown above. This document is returned whenever `times()` function is called under `help()` function.

In [10]:
help(times)

Help on function times in module __main__:

times(x, y)
    This multiplies the two input arguments

Multiple variable can also be returned as a tuple. However this tends not to be very readable when returning many value, and can easily introduce errors when the order of return values is interpreted incorrectly.

In [11]:
eglist = [10,50,30,12,6,8,100]

In [12]:
def egfunc(eglist):
    highest = max(eglist)
    lowest = min(eglist)
    first = eglist[0]
    last = eglist[-1]
    return highest,lowest,first,last

If the function is just called without any variable for it to be assigned to, the result is returned inside a tuple. But if the variables are mentioned then the result is assigned to the variable in a particular order which is declared in the return statement.

In [13]:
egfunc(eglist)

(100, 6, 10, 100)

In [14]:
a,b,c,d = egfunc(eglist)
print(' a =',a,' b =',b,' c =',c,' d =',d)

 a = 100  b = 6  c = 10  d = 100

## Default arguments

When an argument of a function is common in majority of the cases this can be specified with a default value. This is also called an implicit argument.

In [15]:
def implicitadd(x,y=3,z=0):
    print("%d + %d + %d = %d"%(x,y,z,x+y+z))
    return x+y+z

`implicitadd( )` is a function accepts up to three arguments but most of the times the first argument needs to be added just by 3. Hence the second argument is assigned the value 3 and the third argument is zero. Here the last two arguments are default arguments.

Now if the second argument is not defined when calling the `implicitadd( )` function then it considered as 3.

In [16]:
implicitadd(4)

4 + 3 + 0 = 7

7

However we can call the same function with two or three arguments. A useful feature is to explicitly name the argument values being passed into the function. This gives great flexibility in how to call a function with optional arguments. All off the following are valid:

## Any number of arguments

If the number of arguments that is to be accepted by a function is not known then a asterisk symbol is used before the name of the argument to hold the remainder of the arguments. The following function requires at least one argument but can have many more.

In [18]:
def add_n(first,*args):
    "return the sum of one or more numbers"
    reslist = [first] + [value for value in args]
    print(reslist)
    return sum(reslist)

The above function defines a list of all of the arguments, prints the list and returns the sum of all of the arguments.

In [19]:
add_n(1,2,3,4,5)

[1, 2, 3, 4, 5]

15

In [20]:
add_n(6.5)

[6.5]

6.5

Arbitrary numbers of named arguments can also be accepted using `**`. When the function is called all of the additional named arguments are provided in a dictionary

In [21]:
def namedArgs(**names):
    'print the named arguments'
    # names is a dictionary of keyword : value
    print("  ".join(name+"="+str(value) 
                    for name,value in names.items()))

namedArgs(x=3*4,animal='mouse',z=(1+2j))

x=12  animal=mouse  z=(1+2j)

### [`pass`](https://docs.python.org/3/reference/simple_stmts.html#the-pass-statement) statement
`pass` is a statement which does nothing when it's executed. It can be used e.g. a as placeholder to make the code syntatically correct while sketching the functions and/or classes of your application. For example, the following is valid Python.

In [ ]:
def my_function(some_argument):
    pass

def my_other_function():
    pass

## Lambda Functions

These are small functions which are not defined with any name and carry a single expression whose result is returned. Lambda functions comes very handy when operating with lists. These function are defined by the keyword `lambda` followed by the variables, a colon and the expression.

In [28]:
z = lambda x: x * x

In [29]:
z(8)

64

### Composing functions

Lambda functions can also be used to compose functions

In [30]:
def double(x):
    return 2*x
def square(x):
    return x*x
def f_of_g(f,g):
    "Compose two functions of a single variable"
    return lambda x: f(g(x))
doublesquare= f_of_g(double,square)
print("doublesquare is a",type(doublesquare))
doublesquare(3)

doublesquare is a <class 'function'>

18

# [Modules and packages](https://docs.python.org/3/tutorial/modules.html#modules)

> Module is a Python source code file, i.e. a file with .py extension.

> Package is a directory which contains `__init__.py` file and can contain python modules and other packages.

## How to use

Let's use the following directory structure as an example:

      
```
food_store/
    __init__.py
    
    product/
        __init__.py
        
        fruit/
            __init__.py
            apple.py
            banana.py
            
        drink/
            __init__.py
            juice.py
            milk.py
            beer.py

    cashier/
        __ini__.py
        receipt.py
        calculator.py
```


Let's consider that banana.py file contains:

```python

def get_available_brands():
    return ['chiquita']


class Banana:
    def __init__(self, brand='chiquita'):
        if brand not in get_available_brands():
            raise ValueError('Unkown brand: {}'.format(brand))
        self._brand = brand
     
```

### Importing

Let's say that we need access `Banana` class from banana.py file inside receipt.py. We can achive this by importing at the beginning of receipt.py:

```python
from food_store.product.fruit.banana import Banana

# then it's used like this
my_banana = Banana()
```



If we need to access multiple classes or functions from banana.py file:

```python
from food_store.product.fruit import banana

# then it's used like this
brands = banana.get_available_brands()
my_banana = banana.Banana()
```

# [Classes](https://docs.python.org/3/tutorial/classes.html#a-first-look-at-classes)

In [ ]:
class MyFirstClass:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print('Hello {}!'.format(self.name))

In [ ]:
my_instance = MyFirstClass('John Doe')
print('my_instance: {}'.format(my_instance))
print('type: {}'.format(type(my_instance)))
print('my_instance.name: {}'.format(my_instance.name))

## Methods
The functions inside classes are called methods. They are used similarly as functions.

In [ ]:
alice = MyFirstClass(name='Alice')
alice.greet()

### `__init__()`
`__init__()` is a special method that is used for initialising instances of the class. It's called when you create an instance of the class.

In [ ]:
class Example:
    def __init__(self):
        print('Now we are inside __init__')
        
print('creating instance of Example')
example = Example()
print('instance created')

`__init__()` is typically used for initialising instance variables of your class. These can be listed as arguments after `self`. To be able to access these instance variables later during your instance's lifetime, you have to save them into `self`. `self` is the first argument of the methods of your class and it's your access to the instance variables and other methods.

In [ ]:
class Example:
    def __init__(self, var1, var2):
        self.first_var = var1
        self.second_var = var2
        
    def print_variables(self):
        print('{} {}'.format(self.first_var, self.second_var))
        
e = Example('abc', 123)
e.print_variables()

### `__str__()`
`__str__()` is a special method which is called when an instance of the class is converted to string (e.g. when you want to print the instance). In other words, by defining `__str__` method for your class, you can decide what's the printable version of the instances of your class. The method should return a string.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __str__(self):
        return 'Person: {}'.format(self.name)
    
jack = Person('Jack', 82)
print('This is the string presentation of jack: {}'.format(jack))

## Class variables vs instance variables
Class variables are shared between all the instances of that class whereas instance variables can hold different values between different instances of that class.

In [ ]:
class Example:
    # These are class variables
    name = 'Example class'
    description = 'Just an example of a simple class'

    def __init__(self, var1):
        # This is an instance variable
        self.instance_variable = var1

    def show_info(self):
        info = 'instance_variable: {}, name: {}, description: {}'.format(
            self.instance_variable, Example.name, Example.description)
        print(info)


inst1 = Example('foo')
inst2 = Example('bar')

# name and description have identical values between instances
assert inst1.name == inst2.name == Example.name
assert inst1.description == inst2.description == Example.description

# If you change the value of a class variable, it's changed across all instances
Example.name = 'Modified name'
inst1.show_info()
inst2.show_info()

## Public vs private
In python there's now strict separation for private/public methods or instance variables. The convention is to start the name of the method or instance variable with underscore if it should be treated as private. Private means that it should not be accessed from outside of the class.

For example, let's consider that we have a `Person` class which has `age` as an instance variable. We want that `age` is not directly accessed (e.g. changed) after the instance is created. In Python, this would be:

In [ ]:
class Person:
    def __init__(self, age):
        self._age = age
        
example_person = Person(age=15)
# You can't do this:
# print(example_person.age)
# Nor this:
# example_person.age = 16

## Inheritance

There might be cases where a new class would have all the previous characteristics of an already defined class. So the new class can "inherit" the previous class and add it's own methods to it. This is called as inheritance.

Consider class SoftwareEngineer which has a method salary.

In [25]:
class SoftwareEngineer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def salary(self, value):
        self.money = value
        print(self.name,"earns",self.money)

In [26]:
a = SoftwareEngineer('Kartik',26)

In [27]:
a.salary(40000)

Kartik earns 40000

In [29]:
[ name for name in dir(SoftwareEngineer) if not name.startswith("_")]

['salary']

Now consider another class Artist which tells us about the amount of money an artist earns and his artform.

In [2]:
class Artist:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def money(self,value):
        self.money = value
        print(self.name,"earns",self.money)
    def artform(self, job):
        self.job = job
        print(self.name,"is a", self.job)

In [3]:
b = Artist('Sitikant',20)

In [4]:
b.money(50000)
b.artform('Musician')

Sitikant earns 50000
Sitikant is a Musician

In [38]:
[ name for name in dir(b) if not name.startswith("_")]

['age', 'artform', 'job', 'money', 'name']

money method and salary method are the same. So we can generalize the method to salary and inherit the SoftwareEngineer class to Artist class. Now the artist class becomes,

In [6]:
class Artist(SoftwareEngineer):
    def artform(self, job):
        self.job = job
        print self.name,"is a", self.job

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(self.name,"is a", self.job)? (<ipython-input-6-0810ba3114d9>, line 4)

In [7]:
c = Artist('Sitikant',21)

In [9]:
dir(Artist)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'artform',
 'money']

In [10]:
c.salary(60000)
c.artform('Dancer')

AttributeError: 'Artist' object has no attribute 'salary'

Suppose say while inheriting a particular method is not suitable for the new class. One can override this method by defining again that method with the same name inside the new class.

In [39]:
class Artist(SoftwareEngineer):
    def artform(self, job):
        self.job = job
        print(self.name,"is a", self.job)
    def salary(self, value):
        self.money = value
        print(self.name,"earns",self.money)
        print("I am overriding the SoftwareEngineer class's salary method")

In [40]:
c = Artist('Nishanth',21)

In [41]:
c.salary(60000)
c.artform('Dancer')

Nishanth earns 60000
I am overriding the SoftwareEngineer class's salary method
Nishanth is a Dancer